body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,button{
    margin: 0;
    padding: 0;
}

li,a,input,select,button{
    box-sizing: border-box;
}

input,select,button{
    border: 0;
    outline: 0;
}

a{
    text-decoration: none;
    color: unset;
}

li{
    list-style: none;
}